.sprite0{
    height:193px;
    width:130px;
    background:url(sprites.png) -68px -48px no-repeat;
}
    
.sprite1{
    height:199px;
    width:150px;
    background:url(sprites.png) -252px -55px no-repeat;
}
    
.sprite2{
    height:195px;
    width:153px;
    background:url(sprites.png) -462px -51px no-repeat;
}
    
.sprite3{
    height:194px;
    width:139px;
    background:url(sprites.png) -674px -51px no-repeat;
}